.drawer {
    width: 240;
}
.root {
    background-color: #fff;
    display: "flex";
    flex-direction: "column";
    height: "100%";
    padding: 16px;
}
.divider {
    margin: 16px 0;
}
.nav {
    margin-bottom: 16px;
}