.view-products {
    h3 {
        font-family: 'Langar', cursive;
        border-bottom: 1px solid #999;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }
    .viewed-item {
        max-width: 20%;    
    }
}