.root {
    box-shadow: "none";
}
.flexGrow {
    flex-grow: 1;
}
.signOutButton {
    margin-left: 8px;
}
.nav-list {
    display: flex;
    font-family: 'Langar', cursive;
    font-size: x-large;
    .item {
        margin-left: 100px;
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
    }
}