.MainInfo {
    width: 100%;
    .main {
        padding-bottom: 17px;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .favorite{
            color: pink;
            cursor: pointer;
        }
        .favorite:hover{
            color: #ff5e00;
        }
    }
    .extra {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        .des {
            width: 68%;
        }
        .seller {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .store:hover {
                text-decoration: none;
                color: red;
            }
        }
    }
}